.box{
  display:flex;
  width:100%;
  height:100%;
}
.box .left_section{
  position: relative;
  width:290px;
  min-width:290px;
  height:100%;
  min-height:540px;
  overflow-y:scroll;
  border-right:1px solid #ddd;
  /* background:red; */
}
.box .right_section{
  flex : 1;
  min-width:760px;
  height:300px;
  background:green;
}